ExemploPessoa/pessoaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="pessoa" type="pessoaType"/>
  
  <xs:complexType name="pessoaType">
    <xs:sequence>
      <xs:element name="primeiroNome" type="xs:string"/>
      <xs:element name="ultimoNome" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="genero" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
