ExemploInclude/Fatura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Produto.xsd"></xs:include>
    
    <xs:element name="fatura">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numero_fatura" type="xs:positiveInteger"/>
                <xs:element name="produto" type="produtoTipo" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
