ExemploInclude/Produto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="produtoTipo">
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="quantidade" type="xs:positiveInteger"/>
            <xs:element name="preço" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>    
</xs:schema>
